[include]
	path = ~/.gitconfig.local
[push]
	default = simple
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[alias]
	sync = "!for repo in $(echo */); do if [ -d \"$repo/.git\" ]; then echo \"$repo\"; git -C \"$repo\" pull; echo; fi; done"
	lg = "log --format='%Cred%h %Cblue%cs %Creset%s %Cgreen- %an'"
